<ion-content class="ion-content-padded-top">
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3">
  
        <div class="recipe-details" *ngIf="recipe">
          <div class="recipe-image">
            <img [src]="'http://localhost:3000' + recipe.imageUrl" alt="">
          </div>
  
          <h2 class="recipe-title">{{ recipe.title }}</h2>
          <h4>Ingredients</h4>
          <ul>
            <li *ngFor="let ingredient of recipe.ingredients">
              <div>
                {{ ingredient.amount }} {{ ingredient.unit }} of {{ ingredient.label }} <app-add-to-shopping-list [valueToAdd]="ingredient" typeOfValue="ingredient"></app-add-to-shopping-list>
              </div>
            </li>
          </ul>
  
          <h4>How to cook</h4>
          <ol>
            <li *ngFor="let step of recipe.steps">
              {{ step }} 
            </li>
          </ol>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>