<ion-header>
  <ion-toolbar>
    
  <ion-row>
    <ion-col size="9" offset="1.5" class="toolbar-col">
      <ion-title>Recipe web app</ion-title>
      <ion-buttons collapse="true">

        <app-searchbar (search)="onRedirectToSearch($event)"></app-searchbar>

        <ion-button [routerLink]="['/' + 'recipes']">Recipes</ion-button>
        <ion-button (click)="onOpenShoppingList($event, shoppingListElements)">
          <ion-badge *ngIf="shoppingListElements.length !== 0 || null" slot="start">{{ shoppingListElements.length }}</ion-badge>
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>

      </ion-buttons>
    </ion-col>
  </ion-row>

  </ion-toolbar>
</ion-header>