<div id="shopping-list-popover">

  <ion-item>
    <ion-input type="text" placeholder="Name" #ingredientName></ion-input>
    <ion-input type="text" placeholder="g" #ingredientMeasure></ion-input>
    <ion-input type="number" placeholder="Quantity" #ingredientQuantity></ion-input>
    <ion-button [disabled]="
    !(ingredientQuantity.value !== '' && 
    ingredientMeasure.value !== '' && 
    ingredientName.value !== '')
    " (click)="onAddCustomIngredient(ingredientName.value, ingredientMeasure.value, ingredientQuantity.value)">Add ingredient</ion-button>
  </ion-item>

  <div *ngIf="shoppingListElements.length > 0">
    <div *ngFor="let property of key">
      <ion-item-group>
        <h4>{{property | titlecase }}</h4>
        <ion-item *ngFor="let ingredient of groupedShoppingListElements[property]">
          <ion-label>
            {{ ingredient.label }}
          </ion-label>
          <ion-buttons size="small" (click)="onDeleteShoppingListValues(ingredient)">
            <ion-button><ion-icon slot="icon-only" name="trash-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-item>
      </ion-item-group>
    </div>
  </div>

  <div *ngIf="shoppingListElements.length <= 0">
    <p style="text-align: center;">There are no elements in the shopping list</p>
  </div>
</div>