.title-with-button {
    display: flex;
    align-items: center;


    h3 {
        margin-top: 8px;
        margin-right: 8px;
    }
}

.margin-top-element {
    margin-top: 12px;
}

.dynamic-li {
    margin-top: 8px;
}

.image-item {
    
    margin: auto;
    img {
        width: 60%;
    }
}